<!doctype html>
<html>

<head>
    <title>Rock, Paper, Scissors!</title>
    <style>
        div {
            background-color: lightgrey;
            border: 1px solid black;
            padding: 25px;
            margin: 25px;
        }
        a {
            text-decoration: none;
            color: black;
            font-size: 24pt;
            padding: 0px 10px;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div>
        <a href="{{ url_for('index') }}">Home</a>
        <a target="_blank" href="https://github.com/andrew-j-price/rps">GitHub</a>
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>
